@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Space+Grotesk:wght@400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
.borderSpacing{
  padding: 0px 20px;
}

body{
  background-color: black;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
}